@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'), url('/src/woff2/PretendardVariable.woff2') format('woff2-variations');
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Pretendard Variable';
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:visited{
    color: whitesmoke;
}

ul{
    list-style: none;
}

.active{
    font-weight: bold;
    padding: 8px 15px;
    background: whitesmoke;
    border-radius: 30px;
    color: #0583D2;
}

body, html{
    overflow-x: hidden;
}

/*-NavBar-*/
.navbar{
    position:fixed;
    top:0;
    left:0;
    display: flex;
    width:100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background: linear-gradient(0deg, transparent, #16558f);
    z-index: 100;
}
.down{
    background-color: black;
}
.logo-area{
    width:100%;
    display: flex;
    align-items: center;
}
.logo-area h1{
    color: whitesmoke;
    text-shadow: 0 0 5px #000056;
}
.logo-area img{
    width:50px;
    margin-right:8px;
}
.nav-links{
    display:flex;
    align-items: center;
}
.nav-links li{
    margin:  0 30px;
}

header{
    width:100vw;
    height:100vh;
    background-image: url('../img/bg.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-content{
    margin-bottom: 150px;
    color:whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size:4vmin;
}
.line{
    width:150px;
    height:4px;
    background-color: #0583D2;
    margin: 10px auto;
    border-radius: 5px;;
}
.header-content h1 {
    font-size:7vmin;
    margin-top:50px;
    margin-bottom: 30px;
}
.ctn{
    padding:8px 15px;
    background: #0583D2;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn{
    position: absolute;
    top:30px;
    right:30px;
    width:40px;
    cursor: pointer;
    display: none;
}
/*-Events-*/
section{
    width:80%;
    margin: 80px auto;

}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #16558f;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;

}
h4{
    font-size: 3vmin;
    color: #16558f;
    margin: 20px auto;
}
p{
    color:#16558f;
    padding:0px 40px;
}
.events .ctn{
    margin-top: 30px;
}

.explore{
    width:100%;
    height:80vh;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore-content{
    width:60%;
    padding:50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
        margin-bottom: 50px;
}
.explore-content p{
    color: white;
}
.explore-content .ctn{
    margin-top:40px;
}

.content-col{
    width:40%;
}
.img-col{
    width:60%;
}
.tours .row .col{
    width:50%;
}
.tours .img-gallery{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
}

.img-gallery img{
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: #16558f;
    text-align: right;
}
.content-col .line{
    align-items: center;
    width:40%;
}
.content-col p{
    padding:0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;

}

footer{
    width:100%;
    min-height:100px;
    padding:20px 80px;
    background: #16558f;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h1{
    font-size: 20px;
}

footer .logo-area{
    width:10%;
}
footer .company-detail{
    width:30%;
}

.company-detail address {
    color: white;
    font-style: normal;
}

footer p{
    color: whitesmoke;
    margin:0;

}

/*-Mobile device-*/
@media only screen and (max-width:850px){
    .navbar{
        padding:0;
        position: absolute;
    }
    .logo-area{
        position: absolute;
        top:30px;
        left:30px;

    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 80vh;
        justify-content: center;
        background-color: #16558f;
        margin-top: -100vh;
        transition: all 0.5s ease;
    }
    .menu-btn{
        display: block;
    }
    .mobile-menu{
        margin-top:0;
        border-radius: 0 0 35% 0;
    }
    .nav-links li{
        margin: 30px auto;

    }
    /*-Events-*/
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    /*-explore-*/
    .explore-content{
        width: 100%;
    }
    
    .tours .col{
        width: 100%;
    }
        .content-col h1 {

            text-align: center;
        }
    .img-gallery {
        justify-content: center;
        align-items: center;
    }
    .img-gallery img{
        width: 90%;
    }
    footer{
        padding:10px;
        width: 100%;
        display: block;
    }
    footer .logo-area{
        width:100%;
        padding:10px;
    }
    footer .company-detail{
        padding: 10px;
        margin-left:14px;
        width: 100%;
        text-align: left;
    }
    footer p {
        margin-left: -40px;
    }
    .bottom {
                position: relative;

                    top: 10px;
                    left: 10px;
                    width:100px;
    }
}
/*-Animations-*/
img{
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background-color: whitesmoke;
    color:#0583D2;
    box-shadow: 0 0 5px rgba(0, 0, 84, 0.5);
}

li:hover{
    color:#0583D2;
    cursor: pointer;
}

a:hover {
    color: #0583D2;
    cursor: pointer;
}